<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" />
    <!-- website name -->
    <meta property="og:site" content="" />
    <!-- website link -->
    <meta property="og:title" content="" />
    <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" />
    <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>The-Cancer</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet ">
    <link href="static/css/bootstrap.css " rel="stylesheet ">
    <link href="static/css/fontawesome-all.css " rel="stylesheet ">
    <link href="static/css/swiper.css " rel="stylesheet ">
    <link href="static/css/magnific-popup.css " rel="stylesheet ">
    <link href="static/css/styles.css " rel="stylesheet ">

    <!-- Favicon  -->
    <link rel="icon " href="static/images/icon.png ">
</head>

<body data-spy="scroll " data-target=".fixed-top ">

    <div class="spinner-wrapper ">
        <div class="spinner ">
            <div class="bounce1 "></div>
            <div class="bounce2 "></div>
            <div class="bounce3 "></div>
        </div>
    </div>


    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top ">
        <a class="navbar-brand logo-image " href="home/index.html "></a>


        <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarsExampleDefault " aria-controls="navbarsExampleDefault " aria-expanded="false " aria-label="Toggle navigation ">
            <span class="navbar-toggler-awesome fas fa-bars "></span>
            <span class="navbar-toggler-awesome fas fa-times "></span>
        </button>


        <div class="collapse navbar-collapse " id="navbarsExampleDefault ">
            <ul class="navbar-nav ml-auto ">
                <!--INCIO-->
                <li class="nav-item ">
                    <a class="nav-link page-scroll " href="#header ">INICIO <span class="sr-only ">(current)</span></a>
                </li>
                <!--INTRODUCCION-->
                <li class="nav-item ">
                    <a class="nav-link page-scroll " href="#intro ">INTRODUCCION</a>
                </li>
                <!--GRAFO-->
                <li class="nav-item ">
                    <a class="nav-link page-scroll " href="#projects ">DB(GRAFO)</a>
                </li>
                <!--ACERCA DE-->
                <li class="nav-item">
                    <a class="nav-link page-scroll " href="#about ">ABOUT</a>
                </li>
                <!--CONTACTO-->
                <li class="nav-item ">
                    <a class="nav-link page-scroll " href="#contact ">CONTACT</a>
                </li>
            </ul>
            <span class="nav-item social-icons ">
                <span class="fa-stack ">
                    <a href="https://www.facebook.com/groups/179572369255213">
                        <span class="hexagon "></span>
            <i class="fab fa-facebook-f fa-stack-1x "></i>
            </a>
            </span>
            <span class="fa-stack ">
                    <a href="https://twitter.com/UAEM_MX">
                        <span class="hexagon "></span>
            <i class="fab fa-twitter fa-stack-1x "></i>
            </a>
            </span>
            </span>
        </div>
    </nav>



    <!-- home principal -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1>Mes Del Cáncer <span id="js-rotating">INFORMAION, ATENCION ,ESPERANZA, SOLUCION</span></h1>
                            <p class="p-heading p-large">El “Mes de Sensibilización del Cáncer de Mama”, se celebra en todo el mundo cada octubre, aumentando la atención y el apoyo prestados a la concientización, detección temprana, tratamiento y cuidados paliativos.</p>
                            <a class="btn-solid-lg page-scroll" href="#intro">Informate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Introduccion -->
    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">INTRODUCCION:</div>
                        <h2>¿Qué es el cáncer de mama?</h2>
                        <p>El cáncer de mama comienza cuando las células del seno comienzan a crecer sin control. Éstas células generalmente forman un tumor que a menudo se puede ver en una radiografía o sentir como un bulto. El tumor es maligno (cáncer)
                            si las células pueden crecer (o invadir) los tejidos circundantes o extenderse (hacer metástasis) hacia otras áreas distantes del cuerpo. El cáncer de mama ocurre casi por completo en mujeres, pero los hombres también pueden
                            padecer de esta enfermedad.</p>
                        <P>Las células en casi cualquier parte del cuerpo pueden convertirse en cáncer y propagarse a otras áreas.</P>
                    </div>
                </div>
                <div class="col-lg-7">
                    <h1> </h1>
                    <div class="image-container">
                        <img class="img-fluid" src="static/images/intro-office.jpg" alt="alternative">
                    </div>
                </div>
                <h3 class="testimonial-author"> ¿Dónde puede empezar el cáncer de mama? </h3>
                <p>El cáncer de mama puede comenzar desde diferentes partes del seno. La mayoría de los cánceres de seno comienzan en los conductos que llevan la leche materna al pezón (cánceres ductales), algunos otros comienzan en las glándulas que producen
                    leche materna (cánceres lobulares) y también existen otros tipos de cáncer de mama que son menos comunes.</p>
                <p>Una pequeña cantidad de cánceres comienza en otros tejidos del seno, a estos cánceres se les conoce como sarcomas y linfomas, y en realidad no son considerados como cánceres de mama.</p>
                <p>Aunque muchos tipos de cáncer de mama pueden causar un bulto en el seno, no todos lo hacen. Muchos cánceres de seno se encuentran en mamografías de diagnóstico que pueden detectar cánceres en una etapa previa, a menudo antes de que se
                    puedan sentir y antes de que se desarrollen los síntomas.</p>
                <p>También es importante comprender que la mayoría de los bultos en los senos son benignos y no cancerosos (malignos). Los tumores de mama no cancerosos son crecimientos anormales, pero no se propagan fuera de la mama y generalmente no son
                    mortales. Pero algunos bultos benignos del seno pueden aumentar el riesgo de una mujer de contraer cáncer de mama. Cualquier bulto o cambio en el seno debe ser revisado por un profesional de la salud para determinar si es benigno o
                    maligno, y si podría incrementar su riesgo de padecer de cáncer en el futuro.</p>
            </div>
        </div>
    </div>


    <!-- Projects -->
    <div id="projects" class="filter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">MUESTRA DE LA BASE DE DATOS Y EL UMBRAL: </div>
                    <center>
                        <p>Aqui se muestra la base de datos registrada junto con el umbral asignado:</p>
                    </center>
                </div>
                <div class="col-lg-5">
                    <!--AQUI SE MUESTRA LA BESE DE DATOS ORIGUINAL-->
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Clave</th>
                                <th scope="col">Temperatura</th>
                                <th scope="col">Color</th>
                                <th scope="col">Inflamacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for elemento in lista %}
                            <tr>
                                <th scope="row">{{elemento.pk}}</th>
                                <td>{{elemento.Temperatura}}</td>
                                <td>{{elemento.Color}}</td>
                                <td>{{elemento.inflammation}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-7">
                    <!--Manda a llamar el Umbral (Norma)-->
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Norma</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for elemento in Lista2 %}
                            <tr>
                                <td>{{elemento}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Manda a llamar la Matriz(Grafo)-->
            <br>
            <br>
            <div class="section-title">MATRIZ: </div>
            <center>
                <p>Aqui se muestra la matriz obtenida con el umbral ya la base de datos que se caba de mostrar en el apartado de arriba:</p>
            </center>
            <div class="pre-scrollable">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th></th>
                            {% for fila in resul %}
                            <th scope="col">{{forloop.counter}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for fila in resul %}
                        <tr>
                            <th scope="col">{{forloop.counter}}</th>
                            {% for columna in fila %}
                            <td>{{columna}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- About -->
    <div id="about" class="counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xl-6">
                    <div class="image-container">
                        <img class="img-fluid" src="static/images/about.jpg" alt="alternative">
                    </div>

                </div>
                <!-- final de la columna-->
                <div class="col-lg-7 col-xl-6">
                    <div class="text-container">
                        <div class="section-title">ABOUT</div>
                        <h2>Somos alumnos de ISI (Ingenieria en Sistemas Inteligentes)</h2>
                        <p>Nuestro objetivo es realizar y analizar bases de datos</p>
                        <p>Para poder dar soluciones, informar a la comunida y lograr un mayor inpulso a la ingenieria de sistemas (Programacion)</p>
                        <h3>Integrantes del equipo:
                            <h3>
                                <p>Salazar Badillo Edgar
                                    <p>
                                        <p>Torres López Daniel Yael
                                            <p>
                                                <p>Asesor de la paguina:M en C.Efren González Gómez</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Contact -->
    <div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="section-title">CONTACTO</div>
                        <h2>Póngase en contacto con nosotros mediante el formulario</h2>
                        <p>Puede pasar por nuestra escuela para obtener mas informacion o simplemente usar el formulario de contacto a continuación para cualquier pregunta y consulta.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="address"><i class="fas fa-map-marker-alt"></i>Av. De los Gorylovers, Av. Bordo de Xochiaca S/N, Benito Juárez, 57000 Nezahualcóyotl, Méx.</li>
                            <li><i class="fas fa-phone"></i><a href="tel:003024630820">Tel UAEM: 55 5112 6372 </a></li>
                            <li><i class="fas fa-phone"></i><a href="tel:003024630820">Tel de nosotros: 56 1446****</a></li>
                            <li><i class="fas fa-envelope"></i><a href="mailto:office@uaem.com">office@UAEM.com</a></li>
                        </ul>
                        <h3>Paguina de la comunidad de la Univercidad Auntonoma del Estado de Mexico</h3>
                        <!--Facebook-->
                        <span class="fa-stack">
                            <a href="https://www.facebook.com/groups/179572369255213">
                                <span class="hexagon"></span>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                        </span>
                        <!--Twitter-->
                        <span class="fa-stack">
                            <a href="https://twitter.com/UAEM_MX">
                                <span class="hexagon"></span>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                        </span>
                        <!--Intagram-->
                        <span class="fa-stack">
                            <a href="https://www.instagram.com/explore/locations/118513258823071/cu-uaem-nezahualcoyotl/">
                                <span class="hexagon"></span>
                        <i class="fab fa-instagram fa-stack-1x"></i>
                        </a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">

                    <form id="contactForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Your message</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group checkbox">
                            <input type="checkbox" id="cterms" value="Agreed-to-Terms" required>I agree with Aria's stated <a href="privacy-policy.html">Privacy Policy</a> and <a href="terms-conditions.html">Terms Conditions</a>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">SUBMIT MESSAGE</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="static/js/jquery.min.js "></script>
    <script src="static/js/popper.min.js "></script>
    <script src="static/js/bootstrap.min.js "></script>
    <script src="static/js/jquery.easing.min.js "></script>
    <script src="static/js/swiper.min.js "></script>
    <script src="static/js/jquery.magnific-popup.js "></script>
    <script src="static/js/morphext.min.js "></script>
    <script src="static/js/isotope.pkgd.min.js "></script>
    <script src="static/js/validator.min.js "></script>
    <script src="static/js/scripts.js "></script>

</body>

</html>